<!DOCTYPE html>
<html>
<head> 
    <title>-::.  SANXO INFORMATION TECHNOLOGIES S.A.S. .::.</title>
</head>
<body>
    <h1>::: Contactenos :::</h1>
  <br><p>Sanxotec S.A.S. está siempre atento a las necesidades de sus aliados y del publico en general, no dude en buscar nuestra asesoría, tenemos un grupo de profesionales altamente experimentados y capacitados para resolver todas sus inquietudes.</p>
  <br>Escribanos ahora: <a href="mailto:info@sanxotec.com">info@sanxotec.com</a>
  <br>O contactenos a nuestra linea de atención 7/24: <a href="">+57 312 238 28 49</a>
  <hr>  
    <a href="/">index</a>
    <a href="nosotros">nosotros</a>
    <a href="persona">persona</a>
</body>

</html>