<!DOCTYPE html>
<html lang="es">
<head> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <title>-::.  SANXO INFORMATION TECHNOLOGIES S.A.S. .::.</title>
</head>
<body>
    <h1>::: Contactenos :::</h1>
  <br><p>Sanxotec S.A.S. está siempre atento a las necesidades de sus aliados y del publico en general, no dude en buscar nuestra asesoría, tenemos un grupo de profesionales altamente experimentados y capacitados para resolver todas sus inquietudes.</p>
  <br>Escribanos ahora: <a href="mailto:info@sanxotec.com">info@sanxotec.com</a>
  <br>O contactenos a nuestra linea de atención 7/24: <a href="">+57 312 238 28 49</a>
  <hr>  
    <a href="/">index</a>
    <a href="nosotros">Nosotros</a>
    <a href="persona">Persona</a>
    <a href="analitica">Analitica</a>
    <a href="tienda">Tienda</a>
</body>

</html>