<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>-::.  SANXO INFORMATION TECHNOLOGIES S.A.S. .::.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css' ) }}">
</head>
<body><h1>:::BIENVENIDO :::</h1>
  <p>La complejidad moderna representa al ser humano a través de cifras. Detrás de cada número hay una historia que necesita ser contada.
<br>
    Esta historia tiene una narrativa cultural que podemos descubrir con las ciencias humanas, monetizar a través de las ciencias económicas, cuantificar revelando patrones ocultos por medio de la ciencia de datos. Con estrategia y prospectiva transformamos esa historia en una ventaja competitiva para tu negocio.
    <br>
    En SANXOTEC S.A.S. somos un ecosistema científico que toma tus preguntas de negocio como un reto intelectual para generar victorias tempranas que acerquen tu negocio al mercado de forma ágil.</p>  
<br><p>Ponemos a su disposición un equipo dedicado, científico y multidisciplinar para resolver sus retos empresariales realizando estudios de mercado, analítica de datos e inteligencia artificial con un enfoque metódico, ágil y tecnológico.</p>
    <hr>
    <a href="contacto">contacto</a>
    <a href="nosotros">nosotros</a>
    <a href="persona">persona</a>
</body>
</html>