<!DOCTYPE html>
<html>
<head> 
    <title>-::.  SANXO INFORMATION TECHNOLOGIES S.A.S. .::.</title>
</head>
<body>
    <h1>::: ¿Quienes somos? :::</h1>
  <br><p>Sanxotec S.A.S. es una empresa localizada en Medellín, Antioquia Colombia. Somos especialistas en el sector de TI brindando a nuestros clientes experiencias transformadoras con la apropiación de herramientas de Inteligencia artificial para la mejora continua de sus organizaciones.</p>
     
    <hr>  
    <a href="/">index</a>
    <a href="contacto">contacto</a>
    <a href="persona">persona</a>
</body>
</html>