<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}">
    <title>.::. Coquito Amarillo .::. Encuesta de Talento Humano</title>
</head>
<body>
    <h1>Encuesta de Satisfacción</h1>
    <form method="POST">
        <table>
            <tr>
                <td><label for="documento">Documento</label></td>
                <td><input type="text" id="documento" name="documento" required><br></td>
            </tr>
            <tr><td><label for="nombres">Nombres</label></td>
                <td><input type="text" id="nombres" name="nombres" required><br></td>
            </tr>
            <tr>
                <td><label for="apellidos">Apellidos</label></td>
                <td><input type="text" id="apellidos" name="apellidos" required><br></td>
            </tr>
            <tr>
                <td><label for="correo">Correo Electrónico</label></td>
                <td><input type="email" id="correo" name="correo" required><br></td>
            </tr>
        
        {% for dimension in dimensiones %}
            <h3>{{ dimension[1] }}</h3>
            <tr>
                <td><input type="hidden" name="dimension_id" value="{{ dimension[0] }}">
                    <label for="puntuacion_{{ dimension[0] }}">Puntuación (1-10)</label></td>
                <td><input type="number" id="puntuacion_{{ dimension[0] }}" name="puntuacion_{{ dimension[0] }}" min="1" max="10" required><br></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><button type="submit">Enviar Encuesta</button>
            </td>
        </tr>
        </table>
    </form>
</body>
</html>
