<!-- templates/reporte.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}">
    <title>.::. Coquito Amarillo .::. Reporte de Talento Humano</title>
</head>
<body>
    <h1>Reporte de Satisfacción</h1>

    <h2>Promedio de Satisfacción por Dimensión</h2>

    <!-- Mostrar gráfico interactivo de Plotly -->
    <div>
        {{ graph_html|safe }}
    </div>

    <h2>Gráfico Matplotlib</h2>

    <!-- Mostrar gráfico estático de Matplotlib -->
    <div>
        <img src="data:image/png;base64,{{ img_base64 }}" alt="Gráfico Matplotlib">
    </div>

    <h3>Resultados de Satisfacción por Dimensión</h3>
    <ul>
        {% for dimension, puntuacion in resultados_por_dimension.items() %}
            <li>{{ dimension }}: {{ puntuacion }}</li>
        {% endfor %}
    </ul>
    
    <h2>Satisfacción por Dimensión</h2>

    <!-- Mostrar gráfico interactivo de Plotly -->
    <div>
        {{ graph_html2|safe }}
    </div>

</body>
</html>
